$font-padrao:'Roboto Mono', monospace; 

// Cores
$black-color: #0A0A0A;
$grey-color: #CCCCCC;
$yellow-color: #F2F000;
$green-color: #00D500;
$hover-color: #4A4A4A;


// Tamanhos de fonte
$font-size-small: 14px;
$font-size-medium: 16px;
$font-size-large: 18px;

// Espaçamento
$spacing-menu-desktop-lateral: 40px;
$spacing-padrao-desktop: 32px;

